body{
    background-color: #1b1b1b;
}
.logo{
    margin: auto;
    padding: 20px;
    width: fit-content;
    width: 250px;
}
h1{
    color: #6FC19A;
    text-transform: uppercase;
    font-size: 55px;
    margin: auto;
}
h1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
h2,h4{
      font-family: "Rasa", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
  }
h3{
        font-family: "Rasa", serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
  }
p {
    font-family: "Caudex", serif;
}
button {
    font-family: "Caudex", serif;
}