
a{
  text-decoration: none;
}

h1{
  color: #6FC19A;
  font-size: 50px;
  text-transform: uppercase;
  margin: auto;
}
h2{
  color: #6FC19A;
  font-size: 55px;
  text-transform: uppercase;
}
h3{
  color: #6FC19A;
  font-size: 25px;
  letter-spacing: .15em;
  text-align: center;
}
h4{
  color: #6FC19A;
  font-size: 20px;
}
h5{
  color: #6FC19A;
  font-size: 20px;
  text-transform: uppercase;
}


.navigate{
  background-color: #333333;
}
.container{
  display: flex;
}
.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
li{
  list-style: none;
}
.nav a {
  color: #6FC19A; 
  text-decoration: none;
  font-size: 20px;
}
.nav a:hover{
  color: #6FC19A;
  box-shadow: #6FC19A 0px 0px 10px;
  transition: 0.5s;
}
.footer_contact{
  color: #6FC19A;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.container_QuiSuisJe_title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container_QuiSuisJe{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container_photo {
  display: flex; 
  align-items: center; 
  text-align: center; 
}
.container_photo p {
  max-width: 1250px; 
  font-weight: bold;
  font-size: 20px;
  margin: 20px;
  color: #6FC19A;
}
.photo{
  width: auto;
  height: 500px;
  border-radius: 50%;
  margin: 20px;
  box-shadow: #6FC19A 5px 0px 20px;
}
.photo:hover{
  box-shadow: #6FC19A 0px 0px 10px;
  transition: 0.5s;
}
.photo1{
  width: auto;
  height: 400px;
  border-radius: 50%;
  box-shadow: #6FC19A 5px 0px 20px;
  margin: auto;
}
.photo2{
  width: auto;
  height: 200px;
  border-radius: 50%;
  margin: auto;
}
.photo1:hover{
  box-shadow: #6FC19A 0px 0px 10px;
  transition: 0.5s;
}

.skill_image{
  width: 100px;
  height: auto;
  margin: 35px;
}
.skill_title{
  color: #6FC19A;
  font-size: 55px;
  font-weight: bold;
  text-transform: uppercase;

}
.skills{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 35px;
  text-transform: uppercase;
}
.skills_logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  color: #6FC19A;
}
.project_img{
  width: 300px;
  height: auto;
}
.projects_container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 35px;
  color: #6FC19A;
}
.Service_container{
  display: flex;
  flex-direction: row;
  color: #6FC19A;
}
.section_title{
  color: #6FC19A;
  font-size: 55px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 35px;
  text-align: center;
}
.project{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  box-shadow: #6FC19A 5px 0px 20px;
  border-radius: 10px;
  background-color: #4E3F2E;
  width: 300px;
  height: 470px;
}
.Services{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  box-shadow: #6FC19A 5px 0px 20px;
  border-radius: 10px;
  background-color: #1b1b1b;
  width: 300px;
  height: 900px;
}
.Services_mesure{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  box-shadow: #6FC19A 5px 0px 20px;
  border-radius: 10px;
  background-color: #1b1b1b;
  width: 300px;
  height: 400px;
}

.card_btn{
  background-color: #CED2D2;
  color: #1b1b1b;
  padding: 5px;
  border-radius: 10px;
  margin: 1px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  transition: 0.5s;
}
.card_btn:hover{
  background-color: #1b1b1b;
  color: #6FC19A;
  box-shadow: #6FC19A 0px 0px 10px;
  transition: 0.5s;
}

.container_gris{
  background-color: #4E3F2E;
  padding: 20px; 
}
.Service{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #6FC19A;
}
.Service_1{
  background-color: #4E3F2E;
}

li{
  list-style: circle;
  text-align: center;
  font-size: 20px;
  width: 90%;
  margin: 10px;
}
.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #6FC19A;
}
.contact_texte{
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin: auto;
  color: #6FC19A;
  font-size: 30px;
  text-align: center;
}
.pad{
  padding: 20px;
}
/* ajout média query */
@media screen and (max-width: 766px){
  .container_QuiSuisJe{
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  .photo{
    width: 25%;
    height: 25%;
  }
  p {
    font-size: 16px!important;
  }
  .photo1{
    width: 25%;
    height: 25%;
  }
  .photo2{
    display: none;
      }
      .container_gris{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .container_QuiSuisJe_title{
        text-align: center;
      }
      h2{
        font-size: 30px;
      }
      .Service_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .Services{
        margin: 20px;
      }
      .test{
        order: -1; 
      }
}
@media screen and (max-width: 1260px){
  .photo{
    width: 25%;
    height: 25%;
  }
  p {
    font-size: 16px!important;
  }
  .photo1{
    width: 25%;
    height: 25%;;
  }
  .photo2{
    display: none;
  }
  .container_gris{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container_QuiSuisJe_title{
    text-align: center;
  }
  .Service_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
      .Services{
        margin: 20px;
      }
  }





